<div class="well">
	<form novalidate>
	<h2>SignUp Here</h2>
		<table cellpadding="100">
			<tr>
				<td>Name</td>
				<td><input type="text" ng-model="user.name"></td>
			</tr>

			<tr>
				<td>Type</td>
				<td><input type="text" ng-model="user.type"></td>
			</tr>

			<tr>
				<td>Mobile</td>
				<td><input type="text" ng-model="user.mobile"></td>
			</tr>

			<tr>
				<td>Address</td>
				<td><input type="text" ng-model="user.address"></td>
			</tr>
			
			<tr>
				<td>Password</td>
				<td><input type="text" ng-model="user.password"></td>
			</tr>

			<tr>
				<td>Landmark</td>
				<td><input type="text" ng-model="user.landmark"></td>
			</tr>

			<tr>
				<td>Pincode</td>
				<td><input type="text" ng-model="user.pincode"></td>
			</tr>

			<tr>
				<td><button ng-click="saveUser()">SignUp User</button></td>
			</tr>
		</table>
		</form>
	<p>newUser = {{user}}</p>
	</div>